
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/*------------------------------------Navigation-----------------------------------*/

.top-nav {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.top-nav .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 12px;
}

/*----------Logo----------*/

.logo {
	/*margin: .6em 0 auto;*/
	height: 70px;
}

/*----------links----------*/

.top-nav .links {
	float: right;
}

.top-nav > .content li {
	padding: 0 15px;
	display: inline-block;
	font-size: 1.02rem;
	color: #838994;
	letter-spacing: 0.03em;
}

.content a:hover {
	color: #333;
	font-weight: 500;
}

.content a {
	cursor: pointer;
	text-decoration: none;
	color: #838994;
	transition: color 0.2s ease;
	transition: font-weight 0.2s ease;
}

.links {
	float: right;
	font-size: 1.04rem;
	margin-top: 1.475rem;
}

.top-nav .links > .active a {
	color: #4c5058;
	font-weight: 500;
}


/*------------------------------------Introduction-----------------------------------*/

section {
	display: block;
}

.intro {
	background-image: url("../images/first-background.jpg");
	background-size: cover;
	height: 90%;
}

.intro h1, p {
	color: white;
	text-align: center;
}

.introInfo {
	vertical-align: center;
}

h1 {
	font-size: 3em;
}

.intro p {
	font-size: 1.5em;
}

.learnButton {
	background-color: #f15a29;
	width: 12%;
	height: 7%;
	border-radius: 10px; 
	margin-left: 44%;
	margin-right: auto;
}

.learnButton p {
	font-size: 1.2em;
}

.intro a {
	text-decoration: none;
}


.dummy {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: black;
}